<div class="container-slider mx-auto slider-session mb-5">
  <h2>Recommended for you</h2>
  <p>Find some awesome experiences based on your likes!</p>
  <hr>
  <section class="customer-experiencer-session slider mb-5 mt-4">
    {{#each_upto experiences 4 }}
    <div class="slide slide1">
      <a href="/experiences/{{this.id}}">
        <div class="image-slide-inside image-slide-session" style="background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('{{#if this.photos.[0]}}{{this.photos.[0]}}{{else}}https://res.cloudinary.com/dwta0wgpp/image/upload/v1550007271/test/default-preview.jpg{{/if}}')">
          <div class="name-recommended-slide">
            <small class="nt-w">{{#formatDate this.createdAt}}{{/formatDate}}</small>
            <h4>{{this.name}}</h4>
          </div>
          <div class="session-info">
            <small class="experience-card-description nt-w mt-0">{{this.description}}</small>
            <div class="nt-w mt-2 mb-0">{{this.user.name}}</div>
            <div class="image-slide-owner recomended" style="background:url('{{this.user.photo}}')"></div>
          </div>
        </div>
      </a>
      <div class="p-2">
      </div>
    </div>
    {{/each_upto}}
    <div class="slide slide1">
      <div class="image-slide-inside"><a href="more">more</a></div>
    </div>
  </section>
</div>