{{> searchmobile}}

<div class="container-slider mx-auto profile-container mt-6">
  <div class="row pb-5 pt-5">

    <div class="col-xl-4 col-md-12 col-12 row mx-auto nav-intro-profile" id="responsive-menu-tag">
      <div class="profile-sidenav d-flex flex-column mx-auto nav-intro-profile mb-5 " id="getFixed">
        <div class="profile-sidenav-inside d-flex flex-column mt-0">
          <h4 class="nt-fb"><span class="far fa-map nt-c mr-3"></span>Experience Detail</h4>
          <a href="#categories">Categories</a>
          <a href="#description-exp">Description</a>
          <a href="#price">Experience data</a>
          <a href="#route">Route</a>

          {{#theCreator experience session}}
          <div class="div-help-create">
            <p class="nt-f"> You are the owner of this experience </p>
          </div>
          {{else}}
          
          <button class="btn btn-naturet mt-4 p-3 fav-btn   {{#isfollow ../experience ../session}}{{else}}unfollow{{/isfollow}}"
            type="button" value="{{../experience.id}}" id="fav-btn">
            
            {{#isfollow ../experience ../session}}
             <i class="fav-btn fas fa-star" style="color:white"></i>
            {{else}}
            
            <i class="fav-btn far fa-star " style="color:white" ></i>
            {{/isfollow}}
          </button>
          {{#ispurchasedexp ../experience ../session}}
          {{else}}
          <form action="/experiences/{{../experience.id}}/paypage" class="mt-1" method="get">
            <div class="form-actions">
              <button class="btn btn-danger w-100 p-3 mt-2" type="submit">
                <span><strong>Buy</strong> this Experience </span><i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </form>
          {{/ispurchasedexp}}
          {{/theCreator}}
        </div>
      </div>
    </div>

    


    <div class="col-xl-8 col-md-12 col-12">
      <div class="row pb-5 image-detail-exp">
          <div class="back-image-experiences-detail d-flex align-items-center justify-content-center d-column mb-5" style="background:linear-gradient(rgba(0, 201, 141, 0.7), rgba(0, 201, 141, 0.7)),url('{{#if experience.photos.[0]}}{{experience.photos.[0]}}{{else}}https://res.cloudinary.com/dwta0wgpp/image/upload/v1550418585/test/lukasz-szmigiel-33891-unsplash%20(1).jpg.jpg{{/if}}')">
            <h1 class="nt-fb nt-w" style="padding: 25px;">{{experience.name}}</h1>
            <hr class="hr-new-experience">
            <p class="p-intro-new-experience">{{#rating experience}} {{/rating}}</p>
          </div>
        </div>
 

      
      <div class="mt-5" id="categories">
        <h2><span class="far fa-heart nt-c mr-3"></span>Experience categories </h2>
        <h5 class="mb-3 pt-2 nt-f profile-subtitle">Categories selected for this experience</h5>
        <p class="mb-5 ml-0 profile-paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit dis posuere,
          mattis urna sodales ornare semattis urna sodales ornare semper erosper eros</p>
        <div class="row">
          {{#each allCategories as |category| }}
          <div class="col-xl-2 col-md-3 col-6 noevent not-shown" style="display:{{#containCategoryexp ../experience category ../categories }}{{/containCategoryexp}}">
            <div class="category-card noevent category-selected">
              <span class='icon-{{category.fontnum}}'></span>
              <!-- descomentar esto par añadir estilo -->
              <p class="category-name">{{ category.name }} </p>
            </div>
          </div>
          </input>
          {{/each}}

        </div>
      </div>
      <hr>
      <div class="form-group">
        <section class="mt-5 pb-4" id="description-exp">
          <h2><span class="fa fa-book nt-c mr-3"></span>Description</h2>
          <h5 class="mb-3 pt-2 nt-f profile-subtitle">Some important reference points to your rute</h5>
          <p class="mb-2 ml-0 profile-paragraph">This information is completly usefull to you, and the creator made
            some description to sumarize the
            experience as best as possible.
          </p>
        </section>

        <div class="mb-2 w-100 p-2">
          <p><i>"{{experience.description}}"</i></p>
        </div>
        <hr>

        <section class="mt-5 pb-4 " id="price">
          <h2><span class="fa fa-question-circle  nt-c mr-3"></span>Additional info</h2>
           <p class="mb-3 ml-0 profile-paragraph">Some description that is important</p>
        </section>

        <section class="border-bottom pb-4">
          <div class="row">
            <div class="mb-2 col-xl-6 col-md-6 col-12">
              <div class="border-div-profile">
                <h4>Includes</h4>
                <p class=" ml-0 profile-paragraph">{{#each experience.includes}}{{this}}. {{/each}}</p>
              </div>
            </div>

            <div class="mb-2 col-xl-6 col-md-6 col-12">
              <div class="border-div-profile">
                <h4>Languages</h4>
                <p class=" ml-0 profile-paragraph">{{#each experience.languages}}{{this}}. {{/each}}</p>
              </div>
            </div>

            {{#if experience.anymore}}
            <div class="mb-2 col-xl-12 col-md-12 col-12">
              <div class="border-div-profile">
                <h4>Addiotional info for route</h4>
                <p class=" ml-0 profile-paragraph">{{experience.anymore}}</p>
              </div>
            </div>
            {{/if}}
          </div>
        </section>

      <div class="pt-5 pb-5 border-bottom mb-2">
        <h2><span class="far fa-images nt-c mr-3"></span>Photos</h2>
          <h5 class="mb-3 pt-2 nt-f profile-subtitle">Some amazing photos of this experience</h5>
          <p class="mb-4 ml-0 profile-paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit dis posuere,
          mattis urna sodales ornare semattis urna sodales ornare semper erosper ero</p>
        <div class="row mx-auto p-2">
        {{#each_upto experience.photos 4}}
        <div class="col-xl-3 col-md-6 col-12 p-2 image-photo-detail" style="background:url('{{this}}')">
        </div>
        {{/each_upto}}
        </div>
       
      </div>


        <div class=" border-bottom mb-5 pb-3 mt-5">
          <h2><span class="far fa-file-alt  nt-c mr-3"></span>Experience data </h2>
          <p class="mb-4 ml-0 profile-paragraph">The price is written in numbers, and the
              currency will be displayed in <strong class="nt-c">Euros.</strong></p>

          <div class="row">
            <div class="mb-2 col-xl-6 col-md-6 col-12">
              <div class="border-div-profile">
                <h4>Price</h4>
                <h3 class=" ml-0 "><strong class="nt-fb">{{experience.price}}€ </strong><span class=" profile-paragraph"> per person</span></h3>
              </div>
            </div>

            <div class="mb-4 col-xl-6 col-md-6 col-12">
              <div class="border-div-profile">
                <h4>Duration</h4>
                <h3 class=" ml-0 "><strong class="nt-fb">{{experience.duration}} </strong><span class=" profile-paragraph"> minutes</span></h3>
              </div>
            </div>
          </div>
        </div>
   
        <div class="mb-5" id="route">
        <h2><span class="fa fa-map-pin  nt-c mr-3"></span>Route Map </h2>
          <h5 class="mb-3 pt-2 nt-f profile-subtitle">The rout of this experience will display some important points of trekking</h5>
        <p class="mb-5 ml-0 profile-paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit dis posuere,
          mattis urna sodales ornare semattis urna sodales ornare semper erosper eros</p>
          <div id="map" style="pointer-events: none;"></div>
         
        </div>
        <hr>
      </div>

      <!--- Comments experience -->


      {{#ispurchased experience session}}
      <form action="/experiences/{{../experience.id}}/docomment" class="mt-1" method="post" id="comment">
        <div class="form-actions pt-4">

          <!--- rating experience -->
           <h2><span class="fa fa-users  nt-c mr-3"></span>Comment and Rate</h2>
            <p class=" ml-0 profile-paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit dis posuere,
          mattis urna sodales ornare semattis urna sodales ornare semper erosper eros</p> 
          <section class='rating-widget'>
              Rate the experience:
            <!-- Rating Stars Box -->
            <div class='rating-stars p-2 pb-0'>
              <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
              </ul>
            </div>

            <div class='success-box'>
              <div class='clearfix'></div>
              <div class='text-message'></div>
              <div class='clearfix'></div>
            </div>

          </section>

          <div class="form-group">
            <input type="Number" class="form-control" id="rate" name="rate" style="display: none;">
          </div>
          {{#if ../errors.rate }}
          <div class="errors-div-form mt-4">
                <p><span class="fa fa-exclamation-circle nt-w mr-3"></span>{{ ../errors.rate }}</p>
              </div>
          {{/if}}

          <h4 for="docomment">Write a comment</h4>
            <p class=" ml-0 profile-paragraph">Don't leave this section empty, write something to the owner!</p> 

          <textarea class="form-control mb-4" name="message" rows=2>{{../message}}</textarea>
          {{#if ../errors.message }}
          <div class="errors-div-form mt-4">
                <p><span class="fa fa-exclamation-circle nt-w mr-3"></span>{{ ../errors.message }}</p>
              </div>
          {{/if}}

          <button class="btn btn-primary btn-lg mb-2 btn-naturet w-100" type="submit">Post Comment</button>
        </div>
      </form>

      {{else}}
      <section class="mt-5">
         <h2><span class="far fa-comments   nt-c mr-3"></span>Comments </h2>
          <p class="mb-4 ml-0 profile-paragraph">You only will be able tu comment and rate this experience <strong >one time</strong>,
          onle if you buy this experience or you aren't his owner.</p>
          </section>

      {{/ispurchased}}



      <hr>
      {{#each_upto experience.comments 9}}
      <div>
        <div class="flex-row align-items-center mb-3">
          <div class="image-slide-owner" style="background:url('{{this.user.photo}}')"></div>
          <divclass="column">
            <h6 class="ml-3 p-0 mb-0 nt-f"><strong>{{this.user.name}}</strong></h6>
            <span class="ml-3 p-0 date-comment">
              {{#formatDate this.createdAt}}
              {{/formatDate}}
            </span>
            <span class="ml-3 p-0 mb-0 nt-f">{{this.rate}}<i class='fa fa-star fa-fw nt-c'></i></span>
        </div>
        <div class="flex-row">
          <p><i>"{{this.message}}"</i></p>
        </div>
      </div>
      <hr>
      {{/each_upto}}
    </div>
  </div>
</div>
{{!-- nav-menu-mobile--}}
<div class="container nav-mobile mx-auto">
  <div class="row mx-auto align-items-center h-100">
    <div class="col-3 text-center menu-icon">
      <a href="/" class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text">search</span>
        <span class="icon-home icon-nav"></span>
      </a>
    </div>
    <div class="col-3 text-center menu-icon">
      <a href="/favourites" class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text">Favourites</span>
        <span class="icon-favorites icon-nav"></span>
      </a>
    </div>
    <div class="col-3 text-center menu-icon">
      <a href="{{#if session.creator}}/experiences/create{{else}}/creator/create{{/if}}" class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text">Create</span>
        <span class="icon-new-rute icon-nav"></span>
      </a>
    </div>
    <div class="col-3 text-center menu-icon">
      <a href="/profile" class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text ">Profile</span>
        <span class="icon-profile icon-nav "></span>
      </a>
    </div>
  </div>
</div>
{{!-- nav-menu-mobile--}}
<script>
  jQuery(function ($) {
    function fixDiv() {
      var $cache = $('#getFixed');
      if ($(window).scrollTop() > 100 && $(window).width() >= 1080)
        $cache.css({
          'top': '40px'
        });
      else
        $cache.css({
          'top': 'auto'
        });
    }
    $(window).scroll(fixDiv);
    fixDiv();
  });
</script>



<script>
  var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
  var jsonObj = JSON.parse(decodedJson);
  window.points = jsonObj;
</script>

<script src="/js/axios.js" type="text/javascript"></script>
<script src="/js/rating.js" type="text/javascript"></script>