<div class="container profile-container">
  <div class="row pb-5">

    <div class="col-xl-3 col-md-3 col-12 ">
      <div class=" profile-navigation d-flex flex-column mx-auto ">
        <a href="">Categories</a>
        <a href="">Some description</a>
        <a href="/">Home</a>
        <a href="/profile">profile</a>
      </div>
    </div>

    <div class="col-xl-9 col-md-9 col-12">
      <div class="text-center">
        <h5>Experiencia</h5>
        <h6>{{experience.name}}</h6>
        <hr>
        <h5>Políticas de cancelación</h5>
        <h6>{{experience.user.politic}}</h6>
      </div>
      <hr>
      <div class="text-center">
        <h5>Tus datos</h5>
        <hr>
        <h6>Nombre: {{session.name}}</h6>
        <h6>Fecha de nacimiento: {{session.birth}}</h6>
        <h6>Tlfn: {{session.phone}}</h6>
        <hr>
        <div class="product" id="line">
          <div class="price-und">
            <span class="price-span">{{experience.price}}</span>€
            <span> x </span>
            <input id="qty" type="number" value="1" placeholder="1" min="1" name="qty">
            <label for="">Persons</label>
            <span>
              <h2>Total: <span class="total-span">{{experience.price}}</span>€</h2>
            </span>
          </div>
        </div>
        <input type="checkbox" class="regular-checkbox" id="checked">Acepto las Condiciones Generales de Contratación y
        la Política
        de Privacidad y de Cookies
          <form action="/experiences/{{experience.id}}/charge" method="POST" class="mt-2" id="stripe-form" style="display:none;">
            <div id="paybtn"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/axios.js" type="text/javascript"></script>