<div class="container profile-container mt-5">
    <div class="col-xl-9 col-md-9 col-12">
      <div class="text-center mt-3">
        <h2>Your purchase <strong>{{session.name}}</strong>!!!</h2>
        <h6 id="email">{{session.email}}</h6>
        <h6>Thanks for purchasing this experience</h6>
        <h4><strong>{{experience.name}}</strong></h4>
        <h5>{{experience.price}}€</h5>
        <hr>
        <h5>Remember the cancellation policies of the creator of the experience </h5>
        <h6>{{experience.user.politic}}, if you want to send it to the mail </h6>
        <form >
            <div class="newsletter-form mx-auto">
              <button class="btn btn-default btn-sm news-letter-button" type="submit" id="sendpolitics" >click here</button>
            </div>
        </form>
        <hr>
        <h6>Please don't forget to comment and rate the experience once it has been done,
           it will serve other users to find out about this 
            <a href="/experiences/{{experience.id}}">experience</a>
        </h6>
        <h6>Keep enjoying NATURAPP!!!</h6>
        <a class="" href="/">
          <img src="/img/logo-verde.svg" width="50" height="50" class="" alt="">
          <span id="nav-logo-name">Natur<span id="nav-logo-name-app">app</span></span>
        </a>
      </div>
    </div>
</div>