<header class="masthead">
  <div class="container-slider mx-auto h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-left header-caption">
        <h1 class="mobile-none">La naturaleza no es para visitar,</h1>
        <h1 class="mobile-none"> es el verdadero hogar</h1>
        <h1 class="just-mobile">La naturaleza no es para visitar, es el verdadero hogar</h1>
        <hr class="small-green-hr">
        <p class="lead ml-0">Los mejores caminos, paso a paso...</p>
      </div>
    </div>
  </div>
</header>

<div class="container-slider mx-auto mt-5">
  <h2 id="looking-for-name">¿What are you looking for {{#formatName session.name}}{{/formatName}}?</h2>
  <p>Find your experiences searching in all our categories</p>
  <section class="costumer-categories slider mb-5">
    {{#each_upto allCategories 15 }}
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 categorie-box row mb-2">
        <div class="category-name-home" data-category="{{this.name}}">
          <div class="image-category">
            <span class='icon-{{this.fontnum}} search-category-icon'></span>
          </div>
          <h6 class="category-name-text">{{this.name}}</h6>
        </div>
      </div>
    {{/each_upto}}
  </section>
</div>

<div class="container-slider mx-auto">
  <h2>Últimas Experiencias</h2>
  <p>Find what you want in the last experiences we upload</p>
  <hr>
  <section class="customer-experiencer slider">
    {{#each_upto experiences 15 }}
    <div class="slide slide1">
      <a href="/experiences/{{this.id}}">
        <div class="image-slide-inside"style="background: url('{{#if this.photos.[0]}}{{this.photos.[0]}}{{else}}https://res.cloudinary.com/dwta0wgpp/image/upload/v1550007271/test/default-preview.jpg{{/if}}')">
        </div>
      </a>
      <div class="p-2">
        <h5>{{this.name}}</h5>
        <p class="experience-card-description ml-0">{{this.description}}</p>
        <p class="ml-0"><strong>{{this.price}}</strong></p>
        <small class="category-tag" data-category="{{this.categories.[0]}}">#{{this.categories.[0]}}</small>
        <small class="category-tag" data-category="{{this.categories.[2]}}">#{{this.categories.[2]}}</small>
        <small class="category-tag" data-category="{{this.categories.[3]}}">#{{this.categories.[3]}}</small>
        <div>{{this.user.name}}</div>

      </div>
    </div>

    {{/each_upto}}
    <div class="slide slide1">
      <div class="image-slide-inside"><a href="more">more</a></div>
    </div>

  </section>
</div>


<div class="container-slider mx-auto slider-session">

  <h2>Recomendados para ti</h2>
  <hr>
  <section class="customer-experiencer-session slider">
    {{#each_upto experiences 4 }}

    <div class="slide slide1">
      <a href="/experiences/{{this.id}}">
        <div class="image-slide-inside image-slide-session">
          <div class="session-info">
            <h5 class="experience-card-description">{{this.description}}</h5>
            <div>{{this.user.name}}</div>
            <div class="image-slide-owner" style="background:url('{{this.user.photo}}')"></div>

          </div>
        </div>
      </a>
      <div class="p-2">
      </div>
    </div>

    {{/each_upto}}
    <div class="slide slide1">
      <div class="image-slide-inside"><a href="more">more</a></div>
    </div>
  </section>
</div>

