<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<div class="container-slider mx-auto">
  <h2>ULtimas Experiencias</h2>
  <hr>
  <section class="customer-experiencer slider">
    {{#each_upto experiences 9 }}

    <div class="slide slide1">
      <a href="/experiences/{{this.id}}">
        <div class="image-slide-inside">
        </div>
      </a>
      <div class="p-2">

        <h5>{{this.name}}</h5>
        <p class="experience-card-description">{{this.description}}</p>
        <p><strong>{{this.price}}</strong></p>
        <small>#{{this.categories.[0]}}</small>
        <small>#{{this.categories.[2]}}</small>
        <small>#{{this.categories.[3]}}</small>
        <div>{{this.user.name}}</div>

      </div>
    </div>

    {{/each_upto}}
    <div class="slide slide1">
      <div class="image-slide-inside"><a href="more">more</a></div>
    </div>

  </section>
</div>


<div class="container-slider mx-auto slider-session">

  <h2>Recomendados para ti</h2>
  <hr>
  <section class="customer-experiencer-session slider">
    {{#each_upto experiences 4 }}

    <div class="slide slide1">
      <a href="/experiences/{{this.id}}">
        <div class="image-slide-inside image-slide-session">
          <div class="session-info">
            <h5 class="experience-card-description">{{this.description}}</h5>
                      <div>{{this.user.name}}</div>
            <div class="image-slide-owner" style="background:url('{{this.user.photo}}')"></div>
  
          </div>
        </div>
      </a>
      <div class="p-2">
      </div>
    </div>

    {{/each_upto}}
    <div class="slide slide1">
      <div class="image-slide-inside"><a href="more">more</a></div>
    </div>
  </section>
</div>


<!-- DEMO STYLES and NOTES BELOW -->


<script>
  $(document).ready(function () {
    $('.customer-experiencer').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      arrows: true,
      dots: false,
      infinite: false,
      pauseOnHover: false,
      responsive: [{
        breakpoint: 768,
        settings: {
          arrows: false,
          slidesToShow: 2
        }
      },{
        breakpoint: 520,
        settings: {
          arrows: false,
          slidesToShow: 1
        }
      }, {
        breakpoint: 1068,
        settings: {
          arrows: false,
          slidesToShow: 3
        }
      }]
    });
  });
  $(document).ready(function () {
    $('.customer-experiencer-session').slick({
      swipe: false,
      slidesToShow: 4,
      slidesToScroll: 1,
      arrows: false,
      dots: false,
      infinite: false,
      pauseOnHover: false,
      responsive: [{
        breakpoint: 768,
        settings: {
          arrows: false,
          slidesToShow: 2
        }
      }, {
        breakpoint: 520,
        settings: {
          swipe: true,
          arrows: false,
          slidesToShow: 1
        }
      }, {
        breakpoint: 1068,
        settings: {
          arrows: false,
          slidesToShow: 3
        }
      }]
    });
  });

</script>