<h1>profile uncompleted</h1>


<div class="container">
  <h1>categories</h1>
  {{#if errors.error }}
    <h2>{{ errors.error }}</h2>
  {{/if}}
  <form class="" method="POST">
  <div class="row">
    {{#each allCategories as |category| }}
   
      <div class="col-xl-2 col-md-3 col-6">
         <input type='checkbox' name="categories" class="input-category" id="{{ category.id }}" value="{{ category.id }}" {{#isCategorySelected ../session category ../categories }}{{/isCategorySelected}}/>
        <div class="category-card">
          {{!-- <span class='icon-{{category.fontnum}}'></span> --}} <!-- descomentar esto par añadir estilo --> 
          <p class="category-name">{{ category.name }}  </p>
        </div>
    </div>
    </input>
    
    {{/each}}
     <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>

