<div class="container profile-container">
  <div class="row pb-5">

    <div class="col-xl-3 col-md-3 col-12 ">
      <div class=" profile-navigation d-flex flex-column mx-auto ">
        <a href="">Categories</a>
        <a href="">Some description</a>
        <a href="">User role</a>
        <a href="/profile">profile</a>
        <a class="btn btn-danger" href="/profile/edit">Edit Profile</a>
        {{#if session.creator}}
        <a class="btn btn-default" href="/creator/edit">Edit Creator Profile</a>
        {{/if}}

      </div>

    </div>


    <div class="col-xl-9 col-md-9 col-12">
      <div class="text-center">
        <img class="profile-image" src="{{session.photo}}" width="250px">
        <h3>{{session.name}}</h3>
        {{#if session.creator}}
        <h5>Creator<span class="icon-030"></span></h5>
        {{else}}
        <h5>Adventurous</h5>
        {{/if}}
      </div>
      {{#if session.creator}}

      {{else}}
      <hr>
      <h5>Wanna become an Experiencer creator? Click and submit to our community!</h5>
      <p>Lit amet, consectetur adipiscing elit, sed do eiusmod tempor inLorem ipsum dolor sit amet,
        consectetur adipiscinconsectetur adipiscing elit, sed do eiusmod tempor inLorem ipsum dolor sit amet,
        consectetur adipiscin</p>
      <a class="btn btn-primary p-2" href="creator/create">Become a creator</a>
      {{/if}}

      <hr>
      <h1>categories</h1>
      <h5 class="mb-3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</h5>
      <p class="mb-5">Lit amet, consectetur adipiscing elit, sed do eiusmod tempor inLorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor inLorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor inLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>

      {{#if errors.error }}
      <h2>{{ errors.error }}</h2>
      {{/if}}
      <form class="" method="POST" enctype="multipart/form-data">
        <div class="row">
          {{#each allCategories as |category| }}

          <div class="col-xl-2 col-md-3 col-6 noevent not-shown" style="display:{{#containCategory ../session category ../categories }}{{/containCategory}}">
            <input type='checkbox' name="categories" class="input-category no-event" id="{{ category.id }}" value="{{ category.id }}"
              {{#isCategorySelected ../session category ../categories }} {{/isCategorySelected}}>
            <div class="category-card noevent">
              <span class='icon-{{category.fontnum}}'></span>
              <!-- descomentar esto par añadir estilo -->
              <p class="category-name">{{ category.name }} </p>
            </div>
          </div>
          </input>

          {{/each}}

        </div>
        <hr>
        <div class="form-group">
          <h1>Some description</h1>

          <div class="mb-2">
            <h5 class="mb-3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</h5>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inLorem
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inLorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor inLorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor inLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor in</p>
            <h4>about you</h4><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</small>
            <h3>{{session.about}}</h3>
            <hr>
          </div>

          <div class="mb-2">
            <h4>Birth Date</h4><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</small>
            <h3>{{session.birth}}</h3>
            <hr>
          </div>

          <div class="mb-2">
            <h4>From:</h4><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</small>
            <h3>{{session.country}}</h3>
            <hr>
          </div>

          <div class="mb-2">
            <h4>Your phone number</h4><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor
              sit amet, consectetur adipiscing elit</small>
            <h3>{{session.phone}}</h3>
            <hr>
          </div>
        </div>

        <div class=" mb-2">
          <h4> <span class="input-group-text"> <i class="fas fa-image"></i> </span>Your Album</h4>
          {{#each_upto session.pictures 5}}
          <img src="{{this}}" style="max-height: 200px;">
          {{/each_upto}}
        </div>

        <hr>
        <div class="mb-2 col-6">
          <h4>Your Favourites Experiences</h4>
          {{#each user.following as |experience| }}
          <ul>
            <li data-id="{{experience.id}}">
              <div>
                <a href="/experiences/{{ experience.id }}">{{experience.name}}</a>
              </div>
            </li>
          </ul>
          {{/each}}
        </div>
        <hr>
        <div class="mb-2 col-6">
          <h4>Your Purchased Experiences</h4>
          {{#each user.purchased as |experience| }}
          <ul>
            <li data-id="{{experience.id}}">
              <div>
                <a href="/experiences/{{ experience.id }}">{{experience.name}}</a>
              </div>
            </li>
          </ul>
          {{/each}}
        </div>
        <hr class="mt-5">

        {{#if session.creator}}
        <h1>Your creator Data</h1>
        <div>{{session.expertise}}</div>
        <div>{{session.enterpriseEmail}}</div>
        <div>{{session.politic}}</div>
        <div>{{session.enterpriseDescription}}</div>
        <div>{{session.acreditation}}</div>
        <div><img src="{{session.enterprise_picture}}"></div>
        <h1>Your experiences created</h1>
        <hr>
        {{/if}}

        {{#if session.creator}}
        <h1>Your seller profile</h1>
        <img src="{{session.photo}}">
        <h3>{{session.name}}</h3>
        <hr>
        <a class="btn btn-primary mb-3" href="/experiences/create">New experience</a>
        {{/if}}

      </form>

      <ul class="list-group mt-5">
        {{#each user.experiences as |experience|}}

        <li class="list-group-item d-flex justify-content-between align-items-center experience-item" data-id="{{experience.id}}">
          <div>
            <a href="/experiences/{{ experience.id }}">{{experience.name}}</a>
          </div>
          <form action="/experiences/{{experience.id}}/delete" class="float-right">
            <button type="submit" class="btn btn-danger">
              <i class="fas fa-times"></i>
            </button>
          </form>
        </li>

        {{/each}}
      </ul>


    </div>
  </div>

</div>
</div>